{% extends "base.html" %}
{% block content %}

<div class="row page-header">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>
            Password Change
        </h2>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
        <div class="panel-body login">
            {% if form.non_field_errors %}
                <div id="login-alert" class="alert alert-danger col-sm-12">
                    The change password operation failed. Please try again.
                </div>
            {% endif %}
            <form id="password-change" class="form-horizontal" role="form" method="post" action="{% url 'accounts:password-change' %}">
            {% csrf_token %}
                <div class="input-group form">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    {{ form.password }}
                </div>
                <span class="text-danger">{{ form.password.errors }}</span>
                <div class="input-group form">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    {{ form.password1 }}
                </div>
                <span class="text-danger">{{ form.password1.errors }}</span>
                <div class="input-group form">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    {{ form.password2 }}
                </div>
                <span class="text-danger">{{ form.password2.errors }}</span>
                <div class="form-group button">
                    <div class="col-sm-12 controls">
                        <input type="submit" class="btn btn-success" value="Change">
                        <a id="btn-cancel" href="{% url 'version:version-list' %}" class="btn btn-warning">Cancel</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 text-right">
                        <small>* Required fields</small>
                    </div>
                </div>
            </form>
        </div>                     
    </div>  
</div>

{% endblock content %}