{% extends "base.html" %}
{% block content %}

<div class="row page-header">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>
            Reset Password
        </h2>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8">
        Enter the e-mail address associated with your profile, and we’ll send you a new password.
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
        <div class="panel-body login">
            <form id="password-reset" class="form-horizontal" method="post" action="{% url 'accounts:password-reset' %}">
            {% csrf_token %}
                {% if form.non_field_errors %}
                    <div id="login-alert" class="input-group form alert alert-danger">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
                <div class="input-group form">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input id="email" type="email" class="form-control" name="email" required="required" placeholder="E-mail">
                </div>
                <div class="form-group button">
                    <div class="col-sm-12 controls">
                      <button id="btn-reset" class="btn btn-success">Reset</button>
                      <a id="btn-cancel" href="{% url 'login' %}" class="btn btn-warning">Cancel</a>
                    </div>
                </div>
            </form>
        </div>                     
    </div>  
</div>
    
{% endblock content %}